data/*
**/__pycache__
plots/*
.vscode/*
temp/*
preprocess/huff/huffpost/*
preprocess/fewrel/data/*
z_old_plots/*
plots0/*
plots1/*
plots2/*
plots3/*
plots4/*
plots5/*
plots6/*
plots7/*
plots8/*
plots9/*
plots10/*
plots11/*
plots12/*
